.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.20;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.sidebar__searchContainer > input {
  flex: 1;
  border-radius: 30px;
  padding: 6.7px;
  border: none;
}
.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 20px !important;
}

.sidebar__chats {
    flex: 1;
    background-color: white;
    overflow: scroll;
}

.sidebar__chats::-webkit-scrollbar {
  display: none;
}

.sidebar__chats{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.display_name{
  margin-right: auto;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.final-result{
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  background-color: rgb(202, 198, 198);
  flex-direction: row;
 display: flex;
 /* justify-content: space-between; */

  
}
.final-result > h3{
  justify-content: center;
  align-items: center;
  margin-left: 20px;

}



